name: Build

on:
  push:
    branches: [ dev, main, master, '**' ]
  pull_request:
    branches: [ dev, main, master ]

jobs:
 
  windows:    
    name: build on ${{ matrix.os }} 
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest ]
   
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET SDK 6.0.x - 10.0.x
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
          10.0.x
          9.0.x
          8.0.x
          7.0.x
          6.0.x

    - name: Show dotnet Version
      run: |
        dotnet --list-sdks
        dotnet --list-runtimes
   
    - name: Build with dotnet      
      run: |
        dotnet build --configuration Release FasterKv.Cache.sln