name: Build&Test

on:
  push:
    branches: [ dev, main, master, '**' ]
  pull_request:
    branches: [ dev, main, master ]

jobs:

  linux:    
    name: build and test on ${{ matrix.os }} / ${{ matrix.framework }} 
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        framework: [ net6.0, net7.0, net8.0, net9.0, net10.0 ]

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET SDK 6.0.x, 7.0.x, 8.0.x, 9.0.x, 10.0.x
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
          10.0.x
          9.0.x
          8.0.x
          7.0.x
          6.0.x

    - name: Show dotnet Version
      run: |
        dotnet --list-sdks
        dotnet --list-runtimes

    - name: Show docker info
      run: |
        docker ps -a

    - name: Build with dotnet      
      run: |
        dotnet build --configuration Release FasterKv.Cache.sln
   
    - name: Run tests on ${{ matrix.framework }}
      run: |
        dotnet test --framework=${{ matrix.framework }} tests/FasterKv.Cache.Core.Tests/FasterKv.Cache.Core.Tests.csproj
